* {
    box-sizing: border-box;
  }
  

  .col-sm-4 {
    float: left;

  }
  

  h1 {
    font-size: 35px;
    margin: 0 auto;
    }


        .box {
            display: -ms-inline-flexbox;
        }

    .cay {
        margin-right: 20px;

    }


   
